<div class="card">
    <div class="card-headerr">
        <b><i>{{@stat.ua}}</i></b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col ua-info">
                <p class="card-text"><b class="ua-text">Browser name:</b> {{@stat.browser.name}}</p>
                <p class="card-text"><b class="ua-text">Browser version:</b> {{@stat.browser.version}}</p>
            </div>
            <div class="col ua-info">
                <p class="card-text"><b class="ua-text">OS name:</b> {{@stat.os.name}}</p>
                <p class="card-text"><b class="ua-text">OS version:</b> {{@stat.os.version}}</p>
            </div>
            <div class="col ua-info">
                <p class="card-text"><b class="ua-text">Engine name:</b> {{@stat.engine.name}}</p>
                <p class="card-text"><b class="ua-text">Engine version:</b> {{@stat.engine.version}}</p>
            </div>
            <div class="col ua-info">
                {{#if @stat.cpu.architecture}}
                <p class="card-text"><b class="ua-text">CPU:</b> {{@stat.cpu.architecture}}</p>
                {{else}}
                <p class="card-text"><b class="ua-text">CPU:</b> Unknown</p>
                {{/if}}

                {{#if @stat.device.vendor}}
                <p class="card-text"><b class="ua-text">Device:</b> {{@stat.device.vendor}} {{@stat.device.model}}</p>
                {{else}}
                <p class="card-text"><b class="ua-text">Device:</b> Unknown</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>