<div class="card">
    <div class="card-header">
        Lesson id: <b><i>{{@stat.lesson_id}}</i></b>
        <small class="createdAt"> Created at {{@stat.created_at}}</small>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{@stat.session_id}}</h5>
        <p class="card-text">User agent {{@stat.user_agent}}</p>
        <LinkTo @route="stat-info.info" @model={{@stat}}>
            <button class="btn btn-outline-dark">View</button>
        </LinkTo>
    </div>
</div>